* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,orange,purple);
}

.container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-box {
    border: 1px solid red;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,200px);
    gap: 30px;
    padding: 30px;

}


.gender-container {
    grid-column: 1 / 3;
}

.genders {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}


button {
    grid-column:  1 / 3;
}

.title {
    grid-column: 1 / 3;
}

.input-box{
    display: flex;
    flex-direction: column;    
}

.input-box label {
    margin-bottom: 8px;
}

.checkbox {
border-radius: 50%;
}